trigger: 
- main 

variables: 
  BuildConfiguration: 'Release' 
  WebAppName: 'demo-webapp-424'   # <-- change this 
  AzureServiceConnection: 'azure-devops'  # <-- change this 

stages: 
# ========================= 
# CI Stage - Build 
# ========================= 

- stage: CI 
  displayName: "CI - Build & Publish Artifact" 

  jobs: 
  - job: Build 
    pool: 
      vmImage: 'windows-latest' 

    steps: 
    - checkout: self 
    - task: UseDotNet@2 
      displayName: "Install .NET SDK" 

      inputs: 
        packageType: 'sdk' 
        version: '8.x' 
 
    - script: dotnet restore ./AZ400_424/HelloWorldApp.csproj 
      displayName: "Restore" 
 

    - script: dotnet build ./AZ400_424/HelloWorldApp.csproj --configuration $(BuildConfiguration) --no-restore 
      displayName: "Build" 

    - script: dotnet publish ./AZ400_424/HelloWorldApp.csproj --configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory) 
      displayName: "Publish" 

    - task: PublishBuildArtifacts@1 
      displayName: "Publish Artifact" 

      inputs: 
        PathtoPublish: '$(Build.ArtifactStagingDirectory)' 
        ArtifactName: 'drop' 
        publishLocation: 'Container' 

 

 

# ========================= 

# CD Stage - Deploy 

# ========================= 

- stage: CD 
  displayName: "CD - Deploy to Azure App Service" 
  dependsOn: CI 
  condition: succeeded() 

  jobs: 

  - deployment: DeployWeb 
    displayName: "Deploy Web App" 
    environment: "dev" 
    pool: 
      vmImage: 'windows-latest' 

    strategy: 
      runOnce: 
        deploy: 
          steps: 
          - download: current 
            artifact: drop 

          - task: AzureWebApp@1 
            displayName: "Deploy to Azure App Service" 

            inputs: 
              azureSubscription: '$(AzureServiceConnection)' 
              appType: 'webApp' 
              appName: '$(WebAppName)' 
              package: '$(Pipeline.Workspace)/drop' 
